body{
    background-color:white;
}
#topmenu{
    margin: 20px;
    padding: 20px;
    padding-bottom: 0px;
    justify-content: space-between;
    background-color: blueviolet;
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}
#topmenu ul>li{
    text-align: left;
}
#topmenu>li{
    display: inline-block;
    margin: 20px;
    padding-left: 30px;
}
#topmenu ul{
    background-color: purple;
    padding: 10px;
    position: absolute;
    display: none;
}
ul{
    list-style: none;
}
.container ul li a{
    color: white;
    text-decoration: none;
}
#topmenu>li:hover ul{
    display: block;
    height: auto;
    width: 100px;
}